.container{
    width: 80%;
    margin: auto;
    text-align: center;
    background-color:whitesmoke ;
}

 h3{
    color: wheat;
    border-radius: 8px;
   padding: 8px;
    width: 30%;
    background-color: orange;
    margin: auto;
}

table, td{
    border-bottom: 1px solid;
    border-color: #999;
    border-collapse: collapse;
}
table{
    margin-top: 20px;
    width: 100%;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
td{
    padding: 25px;
}

tr:hover{
   background-color:rgb(144, 150, 132);
}
.head{
    background-color: olivedrab;
}