.container{
    width: 80%;
    margin: auto;
    /* text-align: center; */
    background-color:beige ;
}
table, td,th{
    border: 1px solid;
    border-color: #999;
    border-collapse: collapse;
}
table{
    width: 100%;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
td,th{
    padding: 25px;
}

th{
background-color: olivedrab;
color: wheat;

}
tr:hover{
   background-color:rgb(144, 150, 132);
}
td input [type="button"]{
    border-radius: 8px;
    border: 1px solid;
    padding: 3px;
    font-size: 15px;
    width: 80%;
}

